/* testing */

/*$backgroundImage1: url(/sites/TEKLoop/divisionsandservices/divisions/PublishingImages/Pages/familiesAtTek/default1.jpg);
$backgroundImage2: url(/sites/TEKLoop/divisionsandservices/divisions/PublishingImages/Pages/familiesAtTek/default2.jpg);
$backgroundImage3: url(/sites/TEKLoop/divisionsandservices/divisions/PublishingImages/Pages/familiesAtTek/default3.jpg);
$backgroundImage4: url(/sites/TEKLoop/divisionsandservices/divisions/PublishingImages/Pages/familiesAtTek/default4.jpg);
$backgroundImage5: url(/sites/TEKLoop/divisionsandservices/divisions/PublishingImages/Pages/familiesAtTek/default5.jpg);
$backgroundImage6: url(/sites/TEKLoop/divisionsandservices/divisions/PublishingImages/Pages/familiesAtTek/default6.jpg); */

@font-face {
    font-family: 'mahoni_free_personal_useRg';
    src: url('mahoni_free_personal_use-webfont.woff2') format('woff2'),
         url('mahoni_free_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



// ****IMAGES****
$backgroundImage1: url( "sites/TEKLoop/divisionsandservices/divisions/pageFiles/images/Mama Bear Revised.png");
$backgroundImage2: url("sites/TEKLoop/divisionsandservices/divisions/pageFiles/images/phase1.png" );
$backgroundImage3: url("sites/TEKLoop/divisionsandservices/divisions/pageFiles/images/phase2.png" );
$backgroundImage4: url( "sites/TEKLoop/divisionsandservices/divisions/pageFiles/images/phase3.png");
$backgroundImage5: url( );
$backgroundImage6: url( );
$contact1: url( );
$iconSheet: url( );

// ****COLORS****
$darkBlue: #0a4873;
$darkerBlue: #052135;
$lightBlue: #c9e8e550;
$darkerLightBlue: #c9e8e5;
$mint: #aee1c550;
$darkMint: #aee1c5;
$lavender: #d4c9f850;
$darkLavender: #d4c9f8;
$yellow: #fff68250;
$darkYellow: #fff682;
$peach: #fc9f8d50;
$darkPeach:#fc9f8d;
$pink: #fdccc450;
$darkPink: #fdccc4;

$navHeight: 370px;


// ****FONTS****
$scriptFont: 'mahoni_free_personal_useRg', sans-serif;
$montFont: 'Montserrat', sans-serif;

@import "contentPage0.scss";


#mainHolder {

  box-shadow: 0px 0px 5px 5px #dcdcdc;
  font-family: $montFont;
  p{
    font-size: 20px;
    line-height: 26px;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .fixedButton{

    bottom: 75px;
    right: 100px;
    background: orange;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    -webkit-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
    text-align: center;
    padding-top: 5px;

    a {

      &::before {
        content: "\e093";

        color: white;
        padding: 5px 3px 3px;
        font-size: 40px;
        text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.5);
      }
      &:hover {

        &::before {

          text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.6);
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.6);
      box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.6);
    }


  }
  .banner{
    background-color: lightgray;
    border: 1px solid white;
    img{
      margin: 20px 10px 10px 30%;
      width: 40%;
    }
  }

  .note {

  }

  h1, h2, h3, h4, h5 {
    font-family: $scriptFont;
    font-weight: bold;
    text-align: left;
  }

  .navigation {
    width: 100%;

    // border-bottom: 10px solid white;

    // box-shadow: 0px 12px 32px 5px #dad4d4;
    border-right: 0px;

    * {
      padding: 0;
      margin: 0;
    }

    .leftColumn {


    }
    .rightColumn {


      .row {
        .navBox{

        }
      }
    }
    .navBox {


      * {

      }
      .navbar{
        border-radius: 0px;
      }
      div {

      }
      a{




      }


      h4{



        &::after, &::before {

        }
        &::after{

        }
        &::before{


        }
      }

      &::before{


      }
      &.featuredBox{
        &::before{

        }
        h4{



          &::before{



          }
          &::before, &::after {

          }
        }

      }
      &.box1{


      }

    }
    .featuredBox {

    }
    .contactUsBox {


      h4 {


        &::before {


        }

      }
      &::before {

      }
    }



  }
//   .navbar-inverse .navbar-nav > .active{
//     width: 100%;
//       background-color: pink;
//
//     }
// .navbar-inverse .navbar-nav > .active > a{
//     background-color: pink;
//
//   }


  #myNavbar{
    ul{
      width: 100%;
      li{
        width: 20%;
        a{
          font-family: $scriptFont;
          font-size: 20px;
          &:active{
            background-color: pink;
          }
        }
      }
    }
  }

  .contentholder {
    .titleDescription, .itemListHolder {
      margin: 10px 0px;
      color: black;
    }
    .titleDescription {
      padding: 35px 20px 0px;

      .title {
        font-size: 2.5em;
        // margin-bottom: .6em;

      }
      .description {
        color: darkgray;
        padding: 20px;
        // font-size: .95em;
      }
    }
    .itemListHolder {


      ul {

      }

      li {



        &::before {

        }

        &.milkStork, &.mamaBear {


        }

        &.milkStork {

        }
        &.mamaBear {

        }



      }

      a{



        .title {

        }
      }
    }

    div.holder {

      position: relative;




      * {
        position: relative;
        z-index: 2;

      }

      &::before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: .1;
        z-index: 1;
        background: no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0px -15px;
        display: block;
        background-position: 50%;

      }

      &:nth-child(1n+0) {
        background: white;


      }
      &:nth-child(2n+0) {

        background: $mint;
        border: 5px solid $darkMint;
        .titleRow{
          display: inline-flex;
          width: 100%;


          .sticker{
            // background: $mint;
            background-color: #fff;
            border: 5px solid $darkMint;
            border-radius: 50%;
            margin: 10px;
            height: 75px;
            width: 75px;
            -webkit-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
            -moz-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
            box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
            color: #000;
            font-family: $scriptFont;
            font-size: 20px;
            padding: 14px 10px 0px 8px;
          }
          .title{
            line-height: 75px;
            padding-left: 10px;
            font-size: 30px;
            text-align: center;
          }
        }
        .description{
            text-align: left;
            padding-left: 5%;
            width:90%;
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            h2{
              text-align: center;
            }
            p{

            }
            ul{
              li{

                padding-left: 5%;
              }
            }
        }

        .titleDescription, .itemListHolder {
          color: white;
        }
        .imageHolder{
          border-left: 5px solid $darkMint;
        img{
          width: 100%;
          // height: 340px;
          }
        }

      }
      &:nth-child(3n+0) {
        background: $lavender;
        border: 5px solid $darkLavender;
        .titleRow{
          display: inline-flex;
          width: 100%;

        .sticker{
          background-color: #fff;
          border: 5px solid $darkLavender;
          border-radius: 50%;
          margin: 10px;
          height: 75px;
          width: 75px;
          -webkit-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
          -moz-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
          box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
          color: #000;
          font-family: $scriptFont;
          font-size: 20px;
          padding: 14px 10px 0px 8px;
        }
        .title{
          line-height: 75px;
          padding-left: 10px;
          font-size: 30px;
          text-align: center;
        }
      }
      .description{
          text-align: left;
          padding-left: 5%;

          width:90%;
          margin-top: 5%;
          margin-left: 5%;
          margin-right: 5%;
          h2{
            text-align: center;
          }
          p{

          }
          ul{
            li{

              padding-left: 5%;
            }
          }
      }

        .titleDescription, .itemListHolder {
          color: $darkerBlue;
        }
        .imageHolder{
          border-right: 5px solid $darkLavender;
        img{
          width: 100%;
          // height: 340px;
          }
        }

      }
      &:nth-child(4n+0) {
        background: $peach;
        border: 5px solid $darkPeach;
        .titleRow{
          display: inline-flex;
          width: 100%;
            .sticker{
            background-color: #fff;
            border: 5px solid $darkPeach;
            border-radius: 50%;
            margin: 10px;
            height: 75px;
            width: 75px;
            -webkit-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
            -moz-box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
            box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.31);
            color: #000;
            font-family: $scriptFont;
            font-size: 20px;
            padding: 14px 10px 0px 8px;

          }
          .title{
            line-height: 75px;
            padding-left: 10px;
            font-size: 30px;
            text-align: center;
          }
        }
        .description{
            text-align: left;
            padding-left: 5%;

            width:90%;
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            h2{
              text-align: center;
            }
            p{
            }
          }
        .titleDescription, .itemListHolder {
          color: $darkerBlue;
        }
        .imageHolder{
          border-left: 5px solid $darkPeach;
        img{
          width: 100%;
          }
        }
      }
      &:nth-child(5n+0) {
        background: $lightBlue;
        border: 5px solid $darkerLightBlue;
          .title{
            line-height: 75px;
            padding-left: 10px;
            font-size: 30px;
            text-align: center;
          }
          .row{
            .description{
                text-align: left;
                padding-left: 5%;
                width:90%;
                margin-left: 5%;
                margin-right: 5%;
                h2{
                  text-align: center;
                }
                p{
                }
              }
            }
      }
      &:nth-child(6n+0) {
        background: $pink;
        border: 5px solid $darkPink;
        .title{
          line-height: 75px;
          padding-left: 10px;
          font-size: 30px;
          text-align: center;
        }
        .row{
          .description{
              text-align: left;
              padding-left: 5%;
              width:90%;
              margin-left: 5%;
              margin-right: 5%;
              margin-top: 0;
              h2{
                text-align: center;
              }
              p{
              }
            }
          }
      }

      &.phase1, &.phase2, &.phase3, &.responsibilitiesOfTheMamaBear, &.newMamaExpectations {
          height: 400px;

          div[class^="col"] {
            padding: 0;
            margin: 0;

          }
      }
      &.welcomeTo {
        background: white;
        border: 5px solid lightgray;

        &::before {
          opacity: 1;
          background-image: $backgroundImage1 ;
        }
      }
      &.phase1 {

        &::before {

          // background-image: $backgroundImage2;


        }
      }
      &.phase2 {

        &::before {

          // background-image: $backgroundImage3;
        }
      }
      &.phase3 {

        &::before {
            // opacity: .2;

          // background-image: $backgroundImage4;
        }
      }
      &.responsibilitiesOfTheMamaBear {

        &::before {
          // background-image: $backgroundImage5;
        }

          h4.title{
            // font-size: 30px;
            // line-height: 75px;

          }
          .row{
          // .description{
          //   p{
          //
          //   }
          // }
        }
      }
      &.newMamaExpectations  {
        &::before {
          // background-image: $backgroundImage6;
        }
        h4.title{
          font-size: 30px;
          line-height: 75px;

        }
        .row{

          .description{
            p{

            }
          }
        }
      }

      &.documentsAndPrograms   {
        background: white;
        border: 5px solid lemonchiffon;
        padding: 0 20px 0 20px;
        h4.title{
          font-size: 30px;
          line-height: 75px;
        }
        .row{
          // height: 400px;
          .col-lg-4{
            margin-bottom: 1.5rem;
            text-align: center;
            padding: 20px;

            border: 1px solid aqua;
            img{

            }
            i{

              width: 140px;
              height: 140px;

              .icon{
                  }

              svg{
                width: 100px;
                height: 100px;
              &:hover{
                  background: yellow;
                }
              }
              &:hover{
                color: pink;
              }

            }
            h2{
              // font-weight: 400;
              text-align: center;
              font-size: 25px;

            }
            p{
              margin-right: 10px;
              margin-left: 10px;
              text-align: center;
              font-size: 14px;

            }
            button{
              a{

              }
            }
          }
          .col-xs-4{
            margin-bottom: 1.5rem;
            text-align: center;
            padding: 20px;
            border: 1px solid aqua;
            img{

            }
            i{

              width: 140px;
              height: 140px;
              color: red;
            }
            h2{
              // font-weight: 400;
              text-align: center;
              font-size: 25px;

            }
            p{
              margin-right: 10px;
              margin-left: 10px;
              text-align: center;
              font-size: 14px;
              // line-height: 26px;

            }
            button{
              a{

              }
            }
          }
          .col-xs-3{
            margin-bottom: 1.5rem;
            text-align: center;
            padding: 20px;
            border: 1px solid aqua;

          }
          .col-xs-2{
            margin-bottom: 1.5rem;
            text-align: center;
            padding: 20px;
            border: 1px solid aqua;

          }
          .col-xs-1{
            margin-bottom: 1.5rem;
            text-align: center;
            padding: 20px;
            border: 1px solid aqua;

          }
          .col-lg-2{
            margin-bottom: 1.5rem;
            text-align: center;
            padding: 20px;
            border: 1px solid aqua;
          }

        }
        &::before {

          background-image: $backgroundImage6;
        }
      }

      &.regionalContacts {
        background: white;
        border: 5px solid aqua;
        // height: 2000px;

        &::before {
          background-image: $backgroundImage6;
        }
        .row{
          // .col-lg-12.col-md-12.col-sm-12.col-xs-12{
            h4.title{
              font-size: 30px;
              line-height: 75px;
            }
            p{

            }
            .mapHolder {
              margin: 0 auto;
              // height: 600px;
              // height: 100%;

              border: 1px solid white;

              .usMap{

                h4{

                }
                img{

                }
                svg{
                  width: 900px;

                }

              }
              .canadaFlag{
                height: 100%;
                h4{

                }
                img{

                }
              }
            }

          // }
        }
        .row{
          width: 100%;
          // .col-lg-12.col-md-12.col-sm-12.col-xs-12{
            h4{
              font-size: 30px;
              line-height: 75px;
            }
            ul{
              text-align: left;

              li{
                font-family: $scriptFont;
                font-size: 20px;
                a{
                  font-family: $montFont;
                  font-size: 20px;

                }
              }
            }
            p{
              a{

              }
            }
          // }
        }
      }

      &.other  {
        background: white;
        border: 5px solid lightgray;
        &::before {

          background-image: $backgroundImage6;
        }
        .row{
          .col-lg-12 .col-md-12 .col-sm-12 .col-xs-12{
            h4{

            }
            p{

            }
          }
        }
      }

      div.imageHolder {
        height: 100%;
        width: 100%;
        overflow: hidden;
        // background-color: transparent;
        // border: 5px solid darkgray;


      }


    }


  }
}
 .faq{
  background-image: url('sites/TEKLoop/divisionsandservices/divisions/pageFiles/images/icon-ship.svg');
  color:blue;


}


.space50{
  // height: 20px;
}

// .documentsAndPrograms{

// }


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
